.header {
  position: relative;
  min-width: 480px;
}

.header__container {
  display: flex;
  align-items: center;
  height: 60px;
}

.header__nav {
}

.header__list {
}

.header__item {
  text-align: left;
  margin-bottom: 36px;
  &:last-child {
    margin-bottom: 0;
  }
}

.header__link {
  text-align: left;
  font-weight: 500;

  font-size: 40px;
  line-height: 47px;

  letter-spacing: 0.02em;

  color: #212121;
}

.header__link--current {
  color: $header-contact-link-active-color;
}

// &:hover,
// &:focus,
// &:active {
// }
// color: $header-contact-link-active-color;
